# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# Testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Distribution / packaging
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Poetry
poetry.lock
dist/

# Logs
*.log
logs/

# R
.ruff_cache/

*.csv
